<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Bougy Briois Eval</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="">Accueil</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Liste contact</a></li>
      <li><a href="">Mentions</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="">Accueil</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Liste contact</a></li>
      <li><a href="">Mentions</a></li>
    </ul>

  </div>
</nav>
        